.intro-container {
    text-align: center;
    margin: 50px auto;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-class {
  animation: slideInFromLeft 1s ease;
  font-size: 30px;
  color:#3B58C6;
  font-family: 'Oswald';
}


  
  .intro-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

 
  

  .intro-button {
    background: #3B58C6;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.3s, transform 0.2s;
  }
  
  .intro-button:hover {
    background: #f1f1f1;
    color:#3B58C6;
    transform: scale(1.05);
  }


  .pointing-emoji {
    font-size: 1.5rem;
    margin-right: 10px;
    animation: bounce 1.5s infinite;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  