.intro-container {
    text-align: center;
    margin: 50px auto;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-class {
  animation: slideInFromLeft 1s ease;
  font-size: 30px;
  color:#31e2ad;
}
  
  
  .intro-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  

  .intro-button {
    display: inline-block;
    padding: 8px 8px;
    font-size: 14px;
    background-color: #31e2ad;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-right: 20px;
  }
  
  .intro-button:hover {
    background-color: #089e71;
  }


  .pointing-emoji {
    font-size: 24px;
    margin-right: 5px;
  }