body {
    margin: 0px;
}

.AppBody {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 60px
}

.move-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8A9FEE;
    color: black;
    border: none;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .move-to-top-button.visible {
    opacity: 1;
  }

  p{

    margin-bottom: 32px;
    line-height: 1.58;
  }